CORE_HTTP_PORT= 
AUTH_HTTP_PORT= 
POSTS_HTTP_PORT= 
NATS_URL= 
NATS_MONITOR_PORT= 
SWAGGER_PATH= 

POSTGRES_HOST= 
POSTGRES_PORT= 
POSTGRES_USER= 
POSTGRES_PASSWORD= 
POSTGRES_DATABASE= 
PORT= 
TYPE= 
MODE= 
RUN_MIGRATIONS= 